<body>
  <%if(newlisting && newlisting.length){ %>
  <div class="alert alert-success text-center" role="alert">
    <%= newlisting %>
  </div>
  <%}%> <%if(newreview && newreview.length){ %>
  <div class="alert alert-success text-center" role="alert">
    <%= newreview %>
  </div>
  <%}%>
</body>
