/*----------------------------------------------bookings csss --------------------------------------------- */
body {
    background-color: rgb(169, 172, 172);
    background-size: cover;
    backdrop-filter: blur(40px);
    background-attachment:fixed;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

.amenities-list {
    list-style-type: none;
    padding: 0;
}

.amenities-list li {
    display: inline-block;
    margin-right: 10px;
    margin-bottom: 5px;
    background-color: var(--input-border);
    background-color: rgba(11, 71, 11, 0.353);
    padding: 3px 8px;
    border-radius: 20px;
    font-size: 0.8rem;
}

.no-bookings {
    text-align: center;
    padding: 5rem 0;
}

input {
    background: transparent !important;
    color: white;
}

input::placeholder {
    color: white !important;
}