/* Hero Section */
body {
    scroll-behavior: smooth;
}

header {
    background-color: lightsteelblue;
    background: url('https://images.unsplash.com/photo-1650928800498-034549200857?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-attachment: fixed;
    background-size: cover;
    height: 80vh !important;
    position: absolute;
    /* backdrop-filter: blur(30px); */

}

.hero {
    margin-top: 20px;
    height: 40vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero .container {
    position: relative;
    z-index: 1;
}

.container {
    padding-bottom: 50px;
}

/* Card Styling */
.card {
    transition: 0.3s;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 22px;
    background-color: #4a4a4a30;
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
    border-radius: 22px 22px 0 0 !important;
    height: 20rem;
}

.card-title {
    font-weight: bold;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

/* CTA Section */
.cta {
    border-radius: 2rem;
    background: linear-gradient(135deg, #333, #555);
}


.alert {
    background-color: rgba(0, 0, 0, 0.17) !important;
    border-radius: 40px;
}

.Featured {
    color: white;
}

.container i {
    font-size: 1.3rem;
}



@media (max-width:992px) {
    .container p {
        margin-top: 3rem;
    }

    .container i {
        display: none;
    }
}

@media (max-width:668px) {
    .hero {
        height: 30vh;
        border-radius: 10px !important;
    }

    .hero .container p {
        margin-top: 4rem;
        font-family: cursive;
        font-size: x-small !important;
        font-weight: lighter !important;
    }

    .hero .container h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 2.8rem !important;
    }

    .hero::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 3rem ! important
    }

}