/* Hero Section */
body {
    scroll-behavior: smooth;
    position: relative;
    box-sizing: border-box;
}

.background {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-image: url('your-image-url.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: var(--bg-color);
    animation: header_animation linear;
    animation-timeline: view();
    animation-range: exit;
    transform-origin: start;
}

@keyframes header_animation {
    25% {
        opacity: 1;
    }

    65%,
    100% {
        opacity: 0;
        transform: scale(2.2);
    }
}


header {
    background: transparent;
    background-attachment: fixed;
    width: 98vw;
    height: 90vh;
    /* backdrop-filter: blur(30px); */

}

header h1 {
    text-shadow: 0px 0px 24px #777;
    font-size: 20rem;
    color: #f5f4f4 !important;

}

.hero {
    color: var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}


.hero .container {
    position: relative;
    z-index: 1;
}

.container {
    padding-bottom: 50px;
    position: relative;
}

/* Card Styling */
.card {
    transition: 0.3s;
    box-shadow: 0 0px 15px var(--bg-transparent);
    border: none;
    border-radius: 22px;
    background-color: var(--bg-color);
}

.card:hover {
    transform: scale(1.05);
}

.card-img-top {
    object-fit: cover;
    border-radius: 22px 22px 0 0 !important;
    height: 25rem;
}

.card-title {
    font-weight: bold;
}

.price {
    font-size: 1.2em;
    font-weight: bold;
}

/* CTA Section */
.cta {
    border-radius: 2rem;
    background: linear-gradient(135deg, #333, #555);
}


.alert {
    background-color: rgba(0, 0, 0, 0.46) !important;
    border-radius: 40px;
    backdrop-filter: blur(2px);
}

.Featured {
    color: var(--text-color);
    font-family: serif;
    font-weight: bolder
}

.container i {
    font-size: 1.3rem;
}

.underline {
    width: 60px;
    height: 2px;
    background-color: #000;
    margin: 10px auto;
}

.amenities-img {
    padding: 0%;
}


.amenities,
.Carousel {
    background-color: var(--bg-color);
}

.Carousel {
    color: var(--text-color);
}

.header-line {
    border-color: var(--text-color) !important;
}

.scroll_animation {
    animation:
        scroll_animation linear,
        fade_out linear;
    animation-timeline: view();
    animation-range:
        entry cover 40%,
        exit cover 20%;
}


@keyframes fade_out {
    from {
        opacity: 100%;
    }

    to {
        opacity: 0%;
        scale: 0.5;
    }
}

@keyframes scroll_animation {
    from {
        opacity: 0%;
        scale: 0.5;
    }

    to {
        opacity: 100%;
        scale: 1;
    }
}

@media (max-width:992px) {}

@media (max-width:668px) {
    .hero {
        height: 90vh;
        border-radius: 10px !important;
    }

    .hero .container p {
        /* margin-top: 4rem; */
        font-family: cursive;
        font-size: small !important;
        font-weight: lighter !important;
    }

    .hero .container h1 {
        font-family: 'Times New Roman', Times, serif;
        font-size: 3.8rem !important;
    }



}