.img {
    /* width: 18rem; */
    height: 18rem;
    object-fit: cover;
}

.navbar {
    background-color: rgba(9, 9, 9, 0.5);
    backdrop-filter: blur(20px) !important
}

.nav-link:hover {
    color: white;
}


.nav-search {
    margin-right: auto !important;
}

.me-5 {
    background-color: rgba(8, 8, 8, 0.5);
    border: 1px solid gray;
}

.dropdown-menu {
    background-color: rgba(9, 9, 9, 0.5);
}

.card {
    border: none;
    margin-bottom: 2rem;
    margin-top: 2rem;
    transition: all 0.5s;
}

.all:hover {
    opacity: 0.8;
    transform: scale(1.1);

}

.cards {
    text-decoration: none !important;
    display: flex;
    text-align: center;
}

.container {
    width: 100vw;
}

.alert {
    background-color: rgba(0, 0, 0, 0.17) !important;
    border-radius: 40px;
}

.alert-danger {
    background-color: rgba(255, 0, 0, 0.104) !important;
}