<% layout("/layouts/boilerplate") -%>
<body>
  <div class="row justify-content-center g-0">
    <div class="col-8">
      <br />
      <h1>Booking Information</h1>
      <br />
      <form action="/booking/<%=id%>" method="post">
        <div class="row mb-3">
          <div class="col row">
            <div class="col">
              <label for="Name" class="col-form-label">Name</label>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  id="Name"
                  name="Booking[name]"
                  placeholder="Name"
                  required
                />
              </div>
            </div>
            <div class="col">
              <label for="Surname" class="col-form-label">Surname</label>
              <div class="col">
                <input
                  type="text"
                  class="form-control"
                  id="Surname"
                  name="Booking[surname]"
                  placeholder="Surname"
                  required
                />
              </div>
            </div>
          </div>

          <div class="col">
            <label for="email" class="col-form-label">Email</label>
            <div class="col">
              <input
                type="email"
                class="form-control"
                id="email"
                name="Booking[email]"
                placeholder="myname@example.com"
                required
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <div class="col">
            <label for="roomtype" class="col-form-label">Room Type</label>
            <div>
              <select
                id="roomtype"
                class="form-control"
                name="Booking[type]"
                required
              >
                <option value="Standard Room">
                  Standard Room (1 to 2 People)
                </option>
                <option value="Family Room">Family Room (1 to 4 People)</option>
                <option value="Private Room">
                  Private Room (1 to 3 People)
                </option>
                <option value="Mix Dorm Room">Mix Dorm Room (6 People)</option>
              </select>
            </div>
          </div>
          <div class="col">
            <label for="guests" class="col-form-label">No of Guests</label>
            <div class="col">
              <input
                type="number"
                class="form-control"
                id="guests"
                name="Booking[guests]"
                placeholder="e.g-2,3"
                required
              />
            </div>
          </div>
        </div>
        <div class="row mb-3">
          <label for="roomtype" class="col-form-label"
            >Arrival Date & Time
          </label>
          <div class="col-lg-4">
            <input
              type="date"
              class="form-control"
              name="Booking[arrival_date]"
              required
            />
          </div>
          <div class="col-lg-2 col-6 my-2 m-lg-0">
            <input
              type="text"
              class="form-control"
              data-mask="hh:MM"
              value="10:00"
              inputmode="numeric"
              placeholder="HH:MM"
              name="Booking[arrival_time]"
              disabled
            />
          </div>
          <div class="col-lg-2 col-6 my-2 m-lg-0">
            <select name="Booking[ampm]" class="form-control" disabled>
              <option value="AM" selected>AM</option>
            </select>
          </div>
        </div>
        <div class="row mb-3">
          <label for="roomtype" class="col-form-label">Departure Date </label>
          <div class="col-lg-4">
            <input
              type="date"
              class="form-control"
              name="Booking[dept_date]"
              required
            />
          </div>
          <div class="col-lg-2 col-6 my-2 m-lg-0">
            <input
              type="text"
              class="form-control"
              data-mask="hh:MM"
              value="12.00"
              disabled
            />
          </div>
          <div class="col-lg-2 col-6 my-2 m-lg-0">
            <select name="Booking[ampm]" class="form-control" disabled>
              <option selected value="AM">AM</option>
            </select>
          </div>
        </div>
        <br />
        <button class="btn btn-outline-secondary btn-lg">Book</button>
      </form>
    </div>
  </div>
</body>
