<% layout("layouts/boilerplate") -%>
<head>
  <link rel="stylesheet" href="/static/css/home.css" />
</head>

<body>
  <!-- Hero Section -->
  <header class="hero text-center d-flex">
    <div class="container d-flex align-items-center flex-column">
      <br />
      <p class="lead" style="font-size: x-large">
        Book the best hotels at exclusive prices
      </p>
      <h1 style="font-size: 5rem">Find Your Perfect Stay</h1>

      <hr class="border border-5 w-75 header-line" />
      <i> ~Your journey to unforgettable stays <br />begins here. </i>
    </div>
  </header>
  <!--------------------------------------------------------amenities------------------------------------------------------------------>
  <div class="text-center amenities my-5 pt-5">
    <br /><br />
    <h2 class="mt-2">Amenities</h2>
    <div class="">
      Experience luxury at our hotel with top-notch amenities. Enjoy our fitness
      center, rejuvenating spa, <br />serene outdoor pool, and exquisite dining.
    </div>
    <div class="underline mb-5"></div>
    <br />
    <div class="row row-cols-lg-2 row-cols-sm-1 row-cols-1 g-0">
      <div class="col row row-cols-2 g-0">
        <img
          src="https://images.unsplash.com/photo-1729605411476-defbdab14c54?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Luxurious Rooms"
          class="col amenities-img"
          loading="lazy"
        />

        <div class="col d-flex flex-column justify-content-center">
          <h5>Luxurious Rooms</h5>
          <div>
            Experience unparalleled comfort in our luxurious rooms, featuring
            premium amenities and stunning views of the lake or cityscape.
          </div>
          <div class="underline"></div>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <h5>World Class Chefs</h5>
          <p>
            Experience culinary excellence with world-class chefs, where gourmet
            dishes are crafted from the finest local ingredients.
          </p>
          <div class="underline"></div>
        </div>
        <img
          src="https://images.unsplash.com/photo-1414235077428-338989a2e8c0?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="World Class Chefs"
          class="col amenities-img"
          loading="lazy"
        />
      </div>
      <div class="col row row-cols-2 g-0">
        <img
          src="https://images.unsplash.com/photo-1555396273-367ea4eb4db5?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Restaurants"
          class="col amenities-img h-50"
          loading="lazy"
        />

        <div class="col h-50 d-flex flex-column justify-content-center">
          <h5>Restaurants</h5>
          <p>
            Savor exquisite dining at our restaurant, where a delightful menu is
            crafted from the finest local ingredients.
          </p>
          <div class="underline"></div>
        </div>

        <div class="col d-flex flex-column justify-content-center">
          <h5>Gym & Spa</h5>
          <p>
            Rejuvenate with our state-of-the-art gym and spa, offering a
            sanctuary for relaxation and fitness.
          </p>
          <div class="underline"></div>
        </div>
        <img
          src="https://images.unsplash.com/photo-1722604532228-e66570ca5a4f?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
          alt="Gym and Spa amenities-img"
          class="col h-50"
          loading="lazy"
        />
      </div>
    </div>
  </div>

  <!-------------------------------------------- Featured Hotels ------------------------------------------------->
  <br /><br />
  <section class="container my-5 text-center">
    <h2 class="mb-4 Featured">Featured Hotels</h2>
    <div class="">
      Experience luxury at our hotel with top-notch amenities. Enjoy our fitness
      center, rejuvenating spa, <br />serene outdoor pool, and exquisite dining.
    </div>
    <div class="underline"></div>
    <div class="row p-3 row-cols-lg-2 row-cols-md-2 row-cols-sm-1 row-cols-1">
      <div class="col">
        <div class="card">
          <img
            src="https://img.freepik.com/free-photo/beautiful-luxury-outdoor-swimming-pool-hotel-resort_74190-7433.jpg?t=st=1745137339~exp=1745140939~hmac=82877e03e675212333f887e262170bd0291b28825920fd4f01442184f3fbe299&w=1380"
            class="card-img-top"
            alt="Luxury Hotel"
            loading="lazy"
          />
          <div class="card-body">
            <h5 class="card-title">Luxury Hotels</h5>
            <p class="card-text">5-star luxury with a beachfront view.</p>
            <span class="price text-secondary">$250/night</span>
            <a href="/listings" class="btn btn-outline-secondary w-100 mt-2">
              show more
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1590490360182-c33d57733427?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="City Hotel"
            loading="lazy"
          />
          <div class="card-body">
            <h5 class="card-title">City Hotels</h5>
            <p class="card-text">Located in the heart of the city.</p>
            <span class="price text-secondary">$180/night</span>
            <a href="/listings" class="btn btn-outline-secondary w-100 mt-2">
              show more
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://images.unsplash.com/photo-1642265991386-3147c7bc6c3e?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
            class="card-img-top"
            alt="Mountain Resort"
            loading="lazy"
          />
          <div class="card-body">
            <h5 class="card-title">Mountain Resorts</h5>
            <p class="card-text">Escape to nature and relax.</p>
            <span class="price text-secondary">$200/night</span>
            <a href="/listings" class="btn btn-outline-secondary w-100 mt-2">
              show more
            </a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img
            src="https://img.freepik.com/free-photo/beautiful-luxury-outdoor-swimming-pool-hotel-resort_74190-7433.jpg?t=st=1745137339~exp=1745140939~hmac=82877e03e675212333f887e262170bd0291b28825920fd4f01442184f3fbe299&w=1380"
            class="card-img-top"
            alt="Luxury Hotel"
            loading="lazy"
          />
          <div class="card-body">
            <h5 class="card-title">Luxury Hotels</h5>
            <p class="card-text">5-star luxury with a beachfront view.</p>
            <span class="price text-secondary">$250/night</span>
            <a href="/listings" class="btn btn-outline-secondary w-100 mt-2">
              show more
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!----------------------------------------------------- Call to Action ------------------------------------------------>
  <section class="cta container text-white text-center py-5">
    <div class="container">
      <h2>Plan Your Next Adventure</h2>
      <p class="lead">Book your stay now and enjoy exclusive deals.</p>
      <a href="/listings" class="btn btn-outline-light btn-lg">Explore More</a>
    </div>
  </section>
  <br /><br />

  <!------------------------------------- Carousel --------------------------------------------------->

  <section class="pt-5 Carousel">
    <div class="container text-center">
      <h2 class="mb-3">What Our Guests Say?</h2>
      <p class="mb-4">
        <span> Here are some valuable feedbacks from our guests. </span>
      </p>
      <hr
        class="mx-auto mb-5"
        style="width: 60px; height: 2px; background-color: var(--bg-color)"
      />

      <!------------------------------------- Carousel body--------------------------------------------------->
      <div
        id="testimonialCarousel"
        class="carousel slide"
        data-bs-ride="carousel"
        data-bs-interval="3700"
      >
        <div class="carousel-inner">
          <!-- Slide 1 -->
          <div class="carousel-item active">
            <div class="d-flex flex-column align-items-center">
              <div class="mb-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-quote"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"
                  />
                </svg>
              </div>
              <p class="w-75">
                This website made planning my trip effortless! The interface is
                clean, filters helped me find the perfect hotel, and I scored a
                fantastic last-minute deal. Booking was instant, and the
                confirmation email included all the details I needed. Will
                definitely use this site again!
              </p>
              <img
                src="https://i.pravatar.cc/100"
                class="rounded-circle mt-4"
                alt="user"
                loading="lazy"
              />
              <h5 class="mt-3 mb-0">Viraj Patil</h5>
              <small class="">Viru Comics </small>
            </div>
          </div>

          <!-- Slide 2 -->
          <div class="carousel-item">
            <div class="d-flex flex-column align-items-center">
              <div class="mb-3">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="16"
                  height="16"
                  fill="currentColor"
                  class="bi bi-quote"
                  viewBox="0 0 16 16"
                >
                  <path
                    d="M12 12a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1h-1.388q0-.527.062-1.054.093-.558.31-.992t.559-.683q.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 9 7.558V11a1 1 0 0 0 1 1zm-6 0a1 1 0 0 0 1-1V8.558a1 1 0 0 0-1-1H4.612q0-.527.062-1.054.094-.558.31-.992.217-.434.559-.683.34-.279.868-.279V3q-.868 0-1.52.372a3.3 3.3 0 0 0-1.085.992 4.9 4.9 0 0 0-.62 1.458A7.7 7.7 0 0 0 3 7.558V11a1 1 0 0 0 1 1z"
                  />
                </svg>
              </div>
              <p class="w-75">
                I’ve used many booking sites, but this one stands out! Not only
                did I find a luxury hotel at half the price listed elsewhere,
                but the entire process was seamless. The mobile app worked
                perfectly, and I even got free breakfast added as a bonus. When
                I needed to modify my dates, customer support responded in
                minutes and fixed it with zero hassle. 10/10—will be my go-to
                for future trips!
              </p>
              <img
                src="https://i.pravatar.cc/101"
                class="rounded-circle mt-4"
                alt="Jane Smith"
                loading="lazy"
              />
              <h5 class="mt-3 mb-0">Jane Smith</h5>
              <small class="">Traveler & Blogger</small>
            </div>
          </div>
        </div>

        <!------------------------------------------ Carousels controls ------------------------------------------------------------>
        <button
          class="carousel-control-prev"
          type="button"
          data-bs-target="#testimonialCarousel"
          data-bs-slide="prev"
        >
          <span
            class="carousel-control-prev-icon bg-dark rounded-circle"
          ></span>
        </button>
        <button
          class="carousel-control-next"
          type="button"
          data-bs-target="#testimonialCarousel"
          data-bs-slide="next"
        >
          <span
            class="carousel-control-next-icon bg-dark rounded-circle"
          ></span>
        </button>
      </div>
    </div>
  </section>
</body>
