<% layout('/layouts/boilerplate')-%>

<body>
  <div id="filters" class="row">
    <div class="filter col" category="Trending">
      <span class="material-symbols-outlined"> local_fire_department </span>
      <p>Trending</p>
    </div>
    <div class="filter col filter-collapse" category="Beachfront">
      <span class="material-symbols-outlined"> beach_access </span>
      <p>Beachfront</p>
    </div>
    <div class="filter col" category="Cabin">
      <span class="material-symbols-outlined"> cottage </span>
      <p>Cabin</p>
    </div>
    <div class="filter col" category="Rooms">
      <span class="material-symbols-outlined"> hotel </span>
      <p>Rooms</p>
    </div>
    <div class="filter col" category="Arctic">
      <span class="material-symbols-outlined"> mode_cool </span>
      <p>Arctic</p>
    </div>
    <div class="filter col" category="Mountains">
      <span class="material-symbols-outlined"> landscape </span>
      <p>Mountains</p>
    </div>
    <div class="filter col" category="Castle">
      <span class="material-symbols-outlined"> castle </span>
      <p>Castle</p>
    </div>
    <div class="filter col" category="Pools">
      <div><span class="material-symbols-outlined"> pool </span></div>
      <p>Pools</p>
    </div>
    <div class="filter col" category="Camping">
      <span class="material-symbols-outlined"> camping </span>
      <p>Camping</p>
    </div>
    <div class="filter col" category="boats">
      <span class="material-symbols-outlined"> directions_boat </span>
      <p>boats</p>
    </div>
  </div>
  <div class="col-2 tax-toggle">
    <div class="form-check form-switch form-check-reverse">
      <label class="form-check-label text-center" for="switchCheckReverse"
        >Display taxes</label
      >
      <input class="form-check-input" type="checkbox" id="switchCheckReverse" />
    </div>
  </div>
  <div class="container">
    <br />
    <div class="loading-spinner" style="display: none">
      <div class="spinner"></div>
      <p>Loading listings...</p>
    </div>
    <div class="row row-cols-md-1 row-cols-lg-2 row-cols-xl-3 innercontainer">
      <% for(item of items){%>
      <a href="/listings/<%=item.id%>" class="cards">
        <div class="col card all" style="width: 21rem">
          <img
            class="card-img-top mx-auto d-block sm-image"
            src="<%=item.image.url%>"
            alt="image not found"
            style="
              width: 24rem;
              height: 40vh;
              object-fit: cover;
              border-radius: 20px;
            "
          />

          <div class="card-body">
            <div class="card-text">
              <b class="fw-medium"> <%=item.title%></b>

              <br />
              &#8377; <%= item.price %> / night &nbsp;<i class="tax">+18%GST</i>
            </div>
          </div>
        </div>
      </a>

      <%}%>
    </div>
  </div>
</body>
