<% layout("./layouts/boilerplate") -%>
<head>
  <link rel="stylesheet" href="/static/css/signup.css" />
</head>

<body>
  <div class="d-flex justify-content-center align-items-center min-vh-100">
    <div class="row w-100">
      <div class="col-lg-10 mx-auto">
        <div class="card shadow-lg">
          <div class="row g-0">
            <!-- Left Panel (Hidden on mobile) -->
            <div class="col-md-6 left-panel d-none d-md-flex">
              <div>
                <a
                  href="/"
                  class="text-light btn btn-sm btn-outline-light offset-8 mb-5"
                  >Back to website →</a
                >
              </div>
              <h2 class="lead text-center">
                Because every great journey begins <br />with the perfect stay.
              </h2>
            </div>

            <!-- Right Panel -->
            <div class="col-md-6 p-5">
              <h3 class="mb-3 text-center text-light">Login</h3>
              <form action="/user/login" method="post">
                <div class="mb-3">
                  <input
                    type="text"
                    class="form-control input"
                    placeholder="username"
                    name="username"
                    required
                  />
                </div>
                <div class="mb-3">
                  <input
                    type="password"
                    class="form-control input"
                    placeholder="Enter your password"
                    name="password"
                    required
                  />
                </div>
                <div class="form-check mb-4">
                  <input
                    class="form-check-input"
                    type="checkbox"
                    id="terms"
                    checked
                    required
                  />
                  <label class="form-check-label" for="terms">
                    I agree to the
                    <a href="#" class="text-light">Terms & Conditions</a>
                  </label>
                </div>
                <button
                  type="submit"
                  class="btn btn-purple text-light w-100 mb-3"
                >
                  Login
                </button>
                <p class="mb-4">
                  Don't have an account?
                  <a
                    href="/user/signup"
                    class="text-decoration-underline text-light"
                    >Register</a
                  >
                </p>
                <hr class="my-4" />
                <p class="text-center mb-3 text-light">Or register with</p>
                <div class="d-flex flex-column flex-sm-row gap-2">
                  <button type="button" class="btn social-btn w-100">
                    <img
                      src="https://img.icons8.com/color/16/000000/google-logo.png"
                      class="me-2"
                    />
                    Google
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
